<a href="https://colab.research.google.com/github/wujulie/ML__homework/blob/main/ML_data_contact.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
train_data=pd.read_csv("/content/drive/MyDrive/ML_final/train.csv",header='infer')
pd.set_option('display.max_columns',None) 
print(train_data.shape)
train_data.head(3)

(381109, 12)

,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
0,1,Male,44,1,28.0,0,> 2 Years,Yes,40454.0,26.0,217,1
1,2,Male,76,1,3.0,0,1-2 Year,No,33536.0,26.0,183,0
2,3,Male,47,1,28.0,0,> 2 Years,Yes,38294.0,26.0,27,1

In [ ]:
'''new_data=train_data["Response"]==0
#print(new_data.values)
for i in range(1,57697):
  if(new_data.bool==True):
   new_data = train_data.drop(new_data[i].values,inplace=True,axis=1)
print(new_data)'''

'new_data=train_data["Response"]==0\n#print(new_data.values)\nfor i in range(1,57697):\n  if(new_data.bool==True):\n   new_data = train_data.drop(new_data[i].values,inplace=True,axis=1)\nprint(new_data)'

In [ ]:
train_data.dtypes

id                        int64
Gender                   object
Age                       int64
Driving_License           int64
Region_Code             float64
Previously_Insured        int64
Vehicle_Age              object
Vehicle_Damage           object
Annual_Premium          float64
Policy_Sales_Channel    float64
Vintage                   int64
Response                  int64
dtype: object

In [ ]:
new_data = (train_data['Response']==0)

In [ ]:
new_data.shape

(381109,)

In [ ]:
new_data.dtypes

dtype('bool')

In [ ]:
new_data

0         False
1          True
2         False
3          True
4          True
          ...
381104     True
381105     True
381106     True
381107     True
381108     True
Name: Response, Length: 381109, dtype: bool

In [ ]:
a = train_data[new_data]
a.head(10)

,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
1,2,Male,76,1,3.0,0,1-2 Year,No,33536.0,26.0,183,0
3,4,Male,21,1,11.0,1,< 1 Year,No,28619.0,152.0,203,0
4,5,Female,29,1,41.0,1,< 1 Year,No,27496.0,152.0,39,0
5,6,Female,24,1,33.0,0,< 1 Year,Yes,2630.0,160.0,176,0
6,7,Male,23,1,11.0,0,< 1 Year,Yes,23367.0,152.0,249,0
8,9,Female,24,1,3.0,1,< 1 Year,No,27619.0,152.0,28,0
9,10,Female,32,1,6.0,1,< 1 Year,No,28771.0,152.0,80,0
11,12,Female,24,1,50.0,1,< 1 Year,No,48699.0,152.0,289,0
12,13,Female,41,1,15.0,1,1-2 Year,No,31409.0,14.0,221,0
13,14,Male,76,1,28.0,0,1-2 Year,Yes,36770.0,13.0,15,0

In [ ]:
a.shape

(334399, 12)

In [ ]:
new_data_2 = (train_data['Response']==1)
b = train_data[new_data_2]
b.shape

(46710, 12)

In [ ]:
a.head(3)

,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
1,2,Male,76,1,3.0,0,1-2 Year,No,33536.0,26.0,183,0
3,4,Male,21,1,11.0,1,< 1 Year,No,28619.0,152.0,203,0
4,5,Female,29,1,41.0,1,< 1 Year,No,27496.0,152.0,39,0

In [ ]:
a = a.sample(n=46710, random_state=1)

In [ ]:
data = pd.concat([a,b],axis=0)

In [ ]:
type(data)

pandas.core.frame.DataFrame

In [ ]:
from sklearn.utils import shuffle
sum = shuffle(data)

In [ ]:
sum.to_csv('data.csv')

In [ ]:
s = pd.Series([1, 2, 3])
mask = pd.array([True, False, pd.NA], dtype="boolean")
s[mask]

0    1
dtype: int64